html, body, iframe {
  margin:0;
  padding:0;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  z-index:999999;
}

iframe {
  overflow:hidden;
  display:block;
  width:100%;
  border:none;
}
